<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div style="height: 600px;width: 600px;border: 5px solid grey;position: relative;left: 409px;background: grey;border-radius: 20px;">
		<%= yield %>
	</div>

</body>
</html>
